<ion-view view-title="Venues ({{venues.length}})">
  <!--ion-content ng-init="doRefresh()"-->
  <ion-content>
    <ion-refresher pulling-text="Recarregar..." on-refresh="doRefresh()">
    </ion-refresher>
    <!-- div class="alert alert-info" ng-show="loading">Recarregando...</div -->
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="venue in venues" type="item-text-wrap" href="#/tab/venues/{{venue.objectId}}">
        <img ng-src="{{venue.logo}}">
        <h2>{{venue.name}}</h2>
        <p>{{venue.createdAt}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(venue)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
