<ion-view view-title="Home">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">Parse Actions</div>
      <div class="item item-body">

        <div>

          <a class="button icon icon-right ion-chevron-right" href="#/tab/signup">Sign Up!</a>

          <div>Promo:</div>
          <button class="button" ng-click="getPromo()">Get Promo (Cloud Code)</button>
          <div>Save:</div>
          <button class="button" ng-click="savePerson('Isabela', 'Barboza')">Save Isabela Barboza</button>
          <button class="button" ng-click="savePerson('Dora', 'Silva')">Save Dora Silva</button>
          <button class="button" ng-click="savePerson('Marina', 'Barboza')">Save Marina Barboza</button>
          <div>Query:</div>
          <button class="button" ng-click="getPeople()">Get All People</button>
          <button class="button" ng-click="getPeople({lastname: 'Barboza'})">Get All Barboza</button>
        </div>

      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
